<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Slimeland</title>
	<link rel="stylesheet" href="/css/bootstrap-grid.css" />
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/app.css" />
</head>

<header>
	<div class="row banner">
		<p class="logo">SLIMELAND</p>
		<p></p>
	</div>

	<nav>
		<div class="row barranav">
			<div class="col-8 secciones">
				<ul class="ulnavbar">
					<li class="lisecciones"><a href="">Slime</a></li>
					<li class="lisecciones"><a href="">Bestsellers</a></li>
					<li class="lisecciones"><a href="">Sale</a></li>
				</ul>
			</div>
			<div class="col-4 secciones">
				<ul class="ulnavbar">
					<li class="lisecciones">
						<a href=""><img src="/public/images/supermarket.png" alt="carrito" /></a>
					</li>
					<li class="lisecciones"><a href="">Bestsellers</a></li>
					<li class="lisecciones"><a href="">Sale</a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>

<body>
	<h1>vjisd</h1>
</body>

</html>