<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slimeland</title>
    <link rel="stylesheet" href="/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/app.css">
</head>

<body>
    <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur dignissimos consequuntur dicta soluta animi
        harum accusamus vitae est illo suscipit.</p>
</body>

</html>